<nav>
<div   id= "nav-center">

<div>
    <div><a id='brand' href="/home"><h3 id="brand-name">Bloggr</h3></a></div>
</div>
<div id="nav-items"> 
   <ul >
    <a id="nav-links" href='/'>Home</a>
    <a id="nav-links" href='/about' >about</a>
    <a id="nav-links" href='/Contact'>Contact</a>

   </ul>
</div>
<div> <a id="nav-links" class="upload" href='/blog/create'><button class="btn"> Create a new Blog</button></button></a> 
</div>
</div>

</nav>