<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
 
   
 <%- include('./partials/nav.ejs') %> 
    

   <main id="new">
        <div id="spacing">
            <h3 id="heading">Create A new Blog</h3>

            <form action="/" method="POST">
                <label  class="blog-form" for="blog-title"> Blog Title</label>
                <br> 
               
                
                
                <input name="title" id="blog-title" type="text" required>

                <br>
                

                


                <br>   <label class="blog-form" for="blog-snippet"> Blog Snippet</label> <br> 
                <input name="snippet" id="blog-snippet" type="text" required><br>
              <br>
              <br>
                <label class="blog-form" for="blog-content"> Blog Description</label><br>
                <textarea name="body" id="blog-content"  required></textarea>
                <br>    
               
            
            <br>
                <button class="btn">Submit</button>
            </form>
        </div>
        </main>

        
</body>
</html>